<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <select id="selectUserById" parameterType="int" resultType="edu.jiangbaiyu.demo.mybatis.quickstart.pojo.User">
        SELECT id, name, email FROM user WHERE id = #{id}
    </select>
</mapper>