<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jiangbaiyu.demo.mybatis.crud.mapper.UserMapper">
    <select id="selectUserById" resultType="edu.jiangbaiyu.demo.mybatis.crud.pojo.User">
        SELECT id, name, email FROM user WHERE id = #{id}
    </select>
    <select id="selectAllUsers" resultType="edu.jiangbaiyu.demo.mybatis.crud.pojo.User">
        SELECT id, name, email FROM user
    </select>
    <insert id="insertUser" parameterType="edu.jiangbaiyu.demo.mybatis.crud.pojo.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (name, email) VALUES (#{name}, #{email})
    </insert>
    <update id="updateUser" parameterType="edu.jiangbaiyu.demo.mybatis.crud.pojo.User">
        UPDATE user SET name = #{name}, email = #{email} WHERE id = #{id}
    </update>
    <delete id="deleteUser" parameterType="int">
        DELETE FROM user WHERE id = #{id}
    </delete>
</mapper>